.aboutUs{
    color: rgb(230, 141, 78);
    font-size: xx-large;
    text-align: center;
    padding-top: 30px;
}

.aboutInfo{
    font-size: x-large;
    text-align: center;
    margin: 60px;
    padding: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
}
.imgAbout {
    float: left;
    clip-path: circle(40%);
    shape-outside: circle(45%);
  }